# Ignore the following directories
/config/*
!/config/.gitkeep
/in/*
!/in/.gitkeep
/out/*
!/out/.gitkeep
/tmp/*
!/tmp/.gitkeep
/logs/*
!/logs/.gitkeep
/idmc_utils/__pycache__/
/idmc_utils/__pycache__/*